/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
html
  scroll-behavior smooth

#app h1,h2
  font-family 'Pacifico', cursive 

#app p,h3,h4,h5,h6
  font-family 'Arimo', sans-serif
  font-weight 500
a, a:hover
  color: black;

.header-wrapper .header-right-wrap .search-box input:hover
  border: 1px solid $greenAccent;
  box-shadow: 0 0 5px $greenAccent;

.home .hero img
  max-width 450px!important

.header-wrapper .title a
  font-family 'Pacifico', cursive
  font-style normal
  font-weight 400
  text-transform lowercase
  color black!important

.header-wrapper .header-right-wrap .nav .nav-item a, #mobile-header .mobile-header-title .mobile-home-link  
  font-family 'Pacifico', cursive
  text-transform unset
  font-weight unset

.vuepress-blog-theme-content
  font-family 'Roboto', sans-serif

.nav-link.router-link-active
  color #3fb28f!important

.mobile-menu-wrapper a.nav-link
  font-family 'Pacifico', cursive

a.mobile-home-link.nav-link
  color:black!important

.wide
  background #3fb28f
  position relative
  width 100%
  left 0
  margin-bottom -50px

.inner
  margin 0 auto
  max-width 740px

