/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.header-wrapper .title a
  font-family 'Pacifico', cursive
  font-style normal
  font-weight 400
  text-transform lowercase
  color black!important

.header-wrapper .header-right-wrap .nav .nav-item a  
  font-family 'Pacifico', cursive

.vuepress-blog-theme-content
  font-family 'Roboto', sans-serif

.nav-link:hover, .nav-link.router-link-active
  color #3fb28f!important

html
  scroll-behavior: smooth;
