/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.header-wrapper .title a
  font-family: 'Pacifico', cursive
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase

.header-wrapper .header-right-wrap .nav .nav-item a  
  font-family: 'Pacifico', cursive

.vuepress-blog-theme-content
  font-family: 'Roboto', sans-serif;
